* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flask-container {
	margin: 2em 1em;
}
.flask-container form input {
	width: 100%;
	padding: 12px;
	display: inline-block;
	margin: 10px 0;
}
.flask-container form button {
	padding: 10px 50px;
	background: #27282c;
	color: #fff;
	border-radius: 50px;
}
.error {
	font-size: 12px;
	color: red;
}